body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

}
#sec-bar{
   background:url("../images/bg.jpg");
    padding-top: 10%;
}

table{
  width: 100%;

}
#srch{

  font-family:"Aruvo";
      font-weight: bold;
      color:#fff;
      font-size: 36px;

}

h1{
      font-family:"Wellfleet";
      font-weight: bold;
      color:#e59519;
      font-size: 24px;
}
tr{
  width: 100%;

  padding-bottom: 5px;
   border-bottom: 8px groove #fff;
  }

#info,#title_image{
  padding-left: 20px;
  background-color: #fff;
  line-height: 3px;
}
#header {
  color:#fff;
  width: 100%;
  background: url('../images/header-bg.png');
  height: 50px;
  position: fixed;

}
#logo a {
      padding-left: 15px;
      color: #fff;
      text-align: center;
      text-decoration: none;
      float: left;
      font-size: 28px;
      margin-top: 10px;
      color: #fff;
      font-family:"Wellfleet";
      font-weight: bold; }


#grid{

  padding-top: 20px;
}

.btn-lg {
  /* padding: 10px 16px; */
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-info {
  color: #fff;
  background-color: #E2213E;
  border-color: #DA4673;
}


#nav ul{
  list-style: none;
  display: block;
  margin: 0 auto;
  list-style: none;
}

#nav { width: 410px; float: right; }
#nav li{
  margin-top: 9px;
  float: left;
  padding-left: 21px;
}

#nav li a { color: #fff; opacity:0.6; font-size: 16px; text-decoration: none; font-family: 'Wellfleet'; }
#nav li a.active { color: #fff; opacity:1; border-bottom: 2px solid #fff; }
#nav li a:hover { color: #fff; opacity:1;  }
