<!DOCTYPE html>
<html>
<head>
    <link href='//fonts.googleapis.com/css?family=Wellfleet' rel='stylesheet' type='text/css'>
    <title>Spotlight</title>
     <link rel="stylesheet" href= "../static/css/style.css">
     <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<header id="header">
  <div id="logo"><a href=""> Edmodo Spotlight </a></div>
  </header>

  <form  action="/search/" method="get">
    <h1 id = "spot"> Spotlight</h1>
        <input  id="searchbar" type="text" name="q">
       <input id ="btn" type="submit" value="Search">
       <!--  <button value = "Search" type="submit" class="btn btn-info btn-lg" >Search</button>
 -->
  </form>
</body>
</html>
